body{
    color: #c2c3c4;
    background-color: #18181D;
}
a{
    color: #8C8F94;
    text-decoration: none;
}
a:hover{
    color: #F0A726;
}
header{
    background-color: #2B2F35;
    min-height: 80px;
    display: flex;
    align-items: center;
}
nav{
    .navbar-logo{
        font-size: 32px;
        line-height: 21px;
        color: #F0A726;
    }
    .navbar-nav{
        margin-left: 30px;
    }
    .navbar-link{
        font-size: 22px;
    }
    .nav-item{
        margin: 0px 20px;
    }
   
}
.main-container{
    margin: 30px;
    padding: 20px;
    background-color: #2B2F35;
    border-radius: 10px;
    background-image: url('../img/home-background.png');
    height: 700px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    .main-container-txt{
        color: #c2c3c4;
        .btn{
            background-color: #F0A726;
        }
      }
}
@media screen and (max-width: 992px){
    nav{
        .navbar-nav{
            margin-left: 0px;
        }
        
    }
}